@import "syntax-variables";

atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .cursor-line {
        background-color: ligthen(@very-dark-gray, 40%);
    }

    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;

        .line-number {
            &.cursor-line {
                background-color: @syntax-gutter-background-color-selected;
                color: @syntax-gutter-text-color-selected;
            }

            &.cursor-line-no-selection {
                color: @syntax-gutter-text-color-selected;
            }
        }
    }

    .fold-marker:after,
    .gutter .line-number.folded,
    .gutter .line-number:after {
        color: @dark-gray;
    }

    .invisible {
        color: @syntax-text-color;
    }

    .cursor {
        color: @syntax-cursor-color;
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }
    
    .search-results {
        .syntax--marker .region {
            background-color: transparent;
            border: 1px solid @syntax-result-marker-color;
        }
        .syntax--marker.current-result .region {
            border: 1px solid @syntax-result-marker-color-selected;
        }
    }
}

.syntax--comment {
    color: lighten(@gray, 10%);

    .selection {
        color: white;
    }
}

.syntax--keyword {
    color: @very-light-gray;
    font-weight: bold;

    &.syntax--control {
        color: @very-light-gray;
    }

    &.syntax--operator {
        color: @syntax-text-color;
        font-weight: bold;
    }

    &.syntax--other.syntax--special-method {
        color: @light-gray;
    }

    &.syntax--other.syntax--unit {
        color: @dark-gray;
    }
}

.syntax--storage {
    color: @very-light-gray;
    font-weight: bold;
}

.syntax--constant {
    color: @light-gray;
    font-style: italic;

    &.syntax--character.syntax--escape {
        color: @light-gray;
        font-style: italic;
    }

    &.syntax--numeric {
        color: @very-light-gray;
    }

    &.syntax--other.syntax--color {
        color: @light-gray;
    }

    &.syntax--other.syntax--symbol {
        color: @dark-gray;
    }
}

.syntax--variable {
    color: @light-gray;

    &.syntax--interpolation {
        color: lighten(@light-gray, 10%);
    }

    &.syntax--parameter.syntax--function {
        color: @syntax-text-color;
        font-style: italic;
    }
}

.syntax--invalid.syntax--illegal {
    background-color: @light-gray;
    color: @syntax-background-color;
}

.syntax--string {
    color: lighten(@very-light-gray, 40%);
    background-color: @dark-gray;

    &.syntax--regexp {
        color: lighten(@very-light-gray, 40%);
        background-color: @dark-gray;

        .syntax--source.syntax--ruby.syntax--embedded {
            color: @gray;
        }
    }

    &.syntax--other.syntax--link {
        color: @gray;
    }
}

.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: lighten(@gray, 10%);
        }

        &.syntax--array,
        &.syntax--parameters,
        &.syntax--string,
        &.syntax--variable {
            color: @syntax-text-color;
        }

        &.syntax--heading,
        &.syntax--identity {
            color: @light-gray;
        }

        &.syntax--bold {
            color: @dark-gray;
            font-weight: bold;
        }

        &.syntax--italic {
            color: @very-light-gray;
            font-style: italic;
        }
    }

    &.syntax--section.syntax--embedded {
        color: lighten(@light-gray, 10%);
    }
}

.syntax--support {
    &.syntax--class {
        color: @light-gray;
    }

    &.syntax--function {
        color: @light-gray;
        font-style: italic;

        &.syntax--any-method {
            color: @light-gray;
        }
    }
}

.syntax--entity {
    &.syntax--name.syntax--function {
        color: @light-gray;
    }

    &.syntax--name.syntax--type {
        color: @light-gray;
    }

    &.syntax--other.syntax--inherited-class {
        color: @light-gray;
    }

    &.syntax--name.syntax--class,
    &.syntax--name.syntax--type.syntax--class {
        color: @light-gray;
    }

    &.syntax--name.syntax--section {
        color: @light-gray;
    }

    &.syntax--name.syntax--tag {
        color: @light-gray;
    }

    &.syntax--other.syntax--attribute-name {
        color: @light-gray;

        &.syntax--id {
            color: @light-gray;
        }
    }
}

.syntax--meta {
    &.syntax--class {
        color: @light-gray;
    }

    &.syntax--link {
        color: @light-gray;
    }

    &.syntax--require {
        color: @light-gray;
    }

    &.syntax--selector {
        color: @very-light-gray;
    }

    &.syntax--separator {
        background-color: @gray;
        color: @syntax-text-color;
    }
}

.syntax--none {
    color: @syntax-text-color;
}

.syntax--markup {
    &.syntax--bold {
        color: @light-gray;
        font-weight: bold;
    }

    &.syntax--changed {
        color: @very-light-gray;
    }

    &.syntax--deleted {
        color: @light-gray;
    }

    &.syntax--italic {
        color: @very-light-gray;
        font-style: italic;
    }

    &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
        color: @light-gray;
    }

    &.syntax--inserted {
        color: @dark-gray;
    }

    &.syntax--list {
        color: @light-gray;
    }

    &.syntax--quote {
        color: @dark-gray;
    }

    &.syntax--raw.syntax--inline {
        color: @dark-gray;
    }
}

.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;

    &.syntax--heading {
        color: @light-gray;
    }
}

atom-text-editor[mini] .scroll-view {
    padding-left: 1px;
}
